@charset "utf-8";
*{box-sizing: border-box;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,dl,dt,dd,li,form,button,input,span,i,ul,a,em,img,textarea,select,legend,fieldset{margin:0;padding:0;}
html{font-size:16px;}
body,html{min-height:100%;width:100%;min-width:1280px;}
body{ -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;}
body,button,input,select,textarea{font-family:"Microsoft Yahei";}
img{border:none;vertical-align:middle; -ms-interpolation-mode: bicubic;}
ul,ol{list-style:none;}
ul,li{padding:0;margin:0;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur()); outline:none;}
address, cite, dfn, em, var{font-style: normal;}
code, kbd, pre, samp, tt{font-family: "Courier New", Courier, monospace;}
small{font-size:12px;}
/* Form */
label,input,select{vertical-align:middle;}
input[type=submit],input[type=button],input[type=reset]{cursor:pointer;}
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"],select,textarea{-webkit-appearance:none;font-family:"Arial","Microsoft Yahei", Helvetica, sans-serif;}*:focus{outline:none;}
textarea,select{-webkit-appearance:none;}
/*text*/
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
/* Clear float */
.clearfix:before,.clearfix:after{content:".";display:block;visibility:hidden;height:0;line-height:0;font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
/* 重置表格元素 */
table{border-collapse:collapse; border-spacing:0;}
/* 重置 hr */
hr{border:none; height:1px;}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html{overflow-y:scroll;}